@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
    --font-family: 'Josefin Sans', sans-serif;
    --bg-color: #0A4DA6;
    --primary: #A60825;
    --white: #FFFFFF
}

body {
    background-color: var(--bg-color);
    color: var(--white);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 0;
    font-family: var(--font-family);

}

h1 {
    font-size: 5em;
}

h3 {
    font-size: 2em;
    margin-top: 20px;
}

.mensagem {
    font-size: 1.5em;
    margin-top: 40px;
}

.box {
    border: 2px solid var(--primary);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}